@model IEnumerable<SamaERP.Models.WarBranch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div>
                <div class="x_panel bg-transparent">
                    <div class="x_content">
                        <p>
                            <a class="btn btn-success btn-sm" asp-controller="WarBranches" asp-action="Create">New Branch</a>
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable" class="table table-sm table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                Branch Name
                                            </th>
                                            <th>
                                                Branch Address
                                            </th>
                                            <th>
                                                Branch City
                                            </th>
                                            <th>
                                                Branch Country
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BranchName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BranchAdresss)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BranchCity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BranchCountry)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                                        <i class="glyphicon glyphicon-pencil text-primary"> </i>
                                                    </a>
                                                    <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="m-3">
                                                        <i class="glyphicon glyphicon-info-sign text-info"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                                                        <i class="glyphicon glyphicon-remove text-danger"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @**<p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchAdresss)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchCountry)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        
            </tbody>
        </table>*@
