@model IEnumerable<SamaERP.Models.WarSupplierType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div>
                <div class="x_panel bg-transparent">
                    <div class="x_content">
                        <p>
                            <a class="btn btn-success btn-sm" asp-controller="WarSupplierTypes" asp-action="Create">New Supplier Type</a>
                        </p>
                        <table id="datatable" class="table table-sm table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupplierType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SupplierDescription)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierDescription)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                                                <i class="glyphicon glyphicon-pencil text-primary"> </i>
                                            </a>
                                            <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="m-3">
                                                <i class="glyphicon glyphicon-info-sign text-info"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                                                <i class="glyphicon glyphicon-remove text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

